src/livetwin_pump_flow.json
[{"id":"eb6a4ff171e63ab1","type":"tab","label":"LiveTwin","disabled":false,"info":"","env":[]},{"id":"e01c5bb0c6fa4c7a","type":"livetwin-node","z":"eb6a4ff171e63ab1","name":"LiveTwin","model":"Project_pumpmodel","modelid":"d53723b7-d29d-426a-ba0e-49821c3f012d","triggered":false,"debugmode":false,"autostart":"inherited","x":600,"y":60,"wires":[["31500a4fbbb5fd7a"]]},{"id":"7bd2dbae19dd489a","type":"function","z":"eb6a4ff171e63ab1","name":"Signal Generator","func":"let counter = flow.get(\"counter\") || 0;\nlet pump_speed = flow.get(\"pump_speed\") || 2500;\n\nif(counter < 25){\n    pump_speed = 2500 + (Math.random()-0.5)*50;\n}\nelse if (counter < 50){\n    pump_speed = pump_speed + 100 + (Math.random() - 0.5) * 50;\n    if (pump_speed > 4600) {\n        pump_speed = pump_speed = 4500 + (Math.random() - 0.5) * 50;\n    }\n}\nelse if (counter < 75) {\n    pump_speed = pump_speed + (Math.random() - 0.5) * 50;\n}\nelse{\n    pump_speed = pump_speed - 100 + (Math.random() - 0.5) * 50;\n    if(pump_speed < 2400){\n        pump_speed = pump_speed = 2500 + (Math.random() - 0.5) * 50;\n    }\n}\n\nmsg.payload = {\"pump_speed\":pump_speed, \"counter\":counter};\n\ncounter = counter + 1;\nif(counter > 100){\n    counter = 0;\n}\nflow.set(\"counter\", counter);\nflow.set(\"pump_speed\", pump_speed);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":60,"wires":[["e01c5bb0c6fa4c7a"]]},{"id":"31500a4fbbb5fd7a","type":"debug","z":"eb6a4ff171e63ab1","name":"Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":60,"wires":[]},{"id":"9380319d7ad6656a","type":"inject","z":"eb6a4ff171e63ab1","name":"Periodic Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[["7bd2dbae19dd489a"]]}]